<!DOCTYPE html>
{% load static recaptcha3 movie_tag contact_tags %}
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
    <!-- //Fonts -->

    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
</head>
<body>
<div id="page" class="page">
    <div class="main-banner bg {% block header %} {% endblock header %}" id="home">

        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1><a href="/" class="editContent">DjangoMovie</a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu mt-2">
                        <li class="active"><a href="/">Главная</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down"
                                                                               aria-hidden="true"></span> </label>
                            <a href="">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2">
                            <ul>
                                {% get_categories as categories %}
                                {% for category in categories %}
                                	<li><a href="/">{{ category.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="">Вход</a>
                        </li>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->

        <!--/banner-->
        <div class="banner-info">
            <p class="editContent">лучший сайт на django 3</p>
            <h3 class="mb-4 editContent">Все о кино</h3>
            {#                <div class="ban-buttons">lorem50</div>#}
        </div>
        <!--// banner-inner -->
    </div>
    <ol class="breadcrumb editContent">
        <li class="breadcrumb-item">
            <a href="/" class="editContent">Главная</a>
        </li>
        <li class="breadcrumb-item active editContent">Movie</li>
    </ol>

    {% block content %}

    {% endblock content %}


    <footer class="editContent">
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="/" class="editContent">
                                <span class="fa" aria-hidden="true">
                                    Django School
                                </span>
                        </a>
                    </h2>
                    <p class="editContent">
                        Канал для программистов и людей, которые хотят развиваться в сфере IT.
                        Видео уроки по python 3, Django 2, Django 3, JavaScript, Vue.js, HTML, CSS
                        и многое другое.
                    </p>
                    <h4 class="sub-con-fo ad-info my-4 editContent">Catch on Social</h4>
                    <ul class="w3layouts_social_list media-soc list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook editContent">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_twitter editContent">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble editContent">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_google editContent">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="w3layouts-news-letter">
                        {% contact_form %}
                    </div>
                    <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">Разделы</h3>
                            <ul class="list-unstyled w3layouts-icons">
                                <li>
                                    <a href="index.html" class="editContent">Главная</a>
                                </li>
                                <li>
                                    <a href="about.html" class="editContent">Категории</a>
                                </li>
                                <li>
                                    <a href="contact.html" class="editContent">Контакты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <!-- social icons -->
                            <div class="agileinfo_social_icons">
                                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">Pages</h3>
                                <ul class="list-unstyled w3layouts-icons">

                                    <li>
                                        <a href="#" class="editContent">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#" class="editContent">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#" class="editContent">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#" class="editContent">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#" class="editContent">About Us</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social icons -->
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent">Contact Info</h3>
                            <div class="contact-info">
                                <div class="footer-address-inf my-4">
                                    <h4 class="ad-info mb-2 editContent">Email </h4>
                                    <p class="editContent"><a href="mailto:info@example.com">info@example.com</a></p>
                                </div>
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2 editContent">Location</h4>
                                    <p class="editContent">New York City</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </footer>
    <div class="cpy-right py-3">
        <div class="container">
            <div class="row">
                <p class="col-md-10 text-left">© 2019 DjangoMovie. All rights reserved | Design by
                    <a href="https://djangochannel.com"> DJANGO SCHOOL.</a>
                </p>
                <!-- move top icon -->
                <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up"
                                                                           aria-hidden="true"></span></a>
                <!-- //move top icon -->
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
